@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@700&family=Playfair+Display:wght@800&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Nunito";
}
header{
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    padding: 25px 50px;
    background-color: rgba(255,235,205, 1);
    align-items: center;
    transition: .3s;
    font-size: 20px;
    z-index: 99999;
}
h3.logo{
    font-size: 30px;
    text-shadow: 4px 4px 3px rgba(0, 0, 0, .2);
    transition: .35s;
    font-family: "Macondo";
    color: black;
    cursor: pointer;
}
h3.logo:hover{
    text-shadow: 1px 1px 1px rgb(22, 152, 50);
}

header .menu{
    display: flex;
    gap: 10px;
    list-style: none;
}

.menu-item a {
    color: black;
    text-decoration: none;
}
.menu-item a:hover{
    text-shadow: 1px 1px 4px rgb(163, 14, 14);
}

.menu li:first-child{
    border-right: 1px solid rgba(0, 0, 0, .2);
    padding-right: 10px;
}

.hamb-menu{
    display: none;
    list-style: none;
}

.sticky{
    position: sticky;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, .75);
    color: white;
    font-size: 15.5px;
}

.sticky li:first-child{
    border-right: 1px solid rgba(255, 255, 255, 0.504);
    padding-right: 10px;
}

.sticky h3.logo{
    font-size: 22px;
    color: white;
}

.sticky .menu a {
    color: white;
}

.fade-in {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    animation: fadein .75s forwards;
}
.icon{
    display: none;
}

.article_top{
    background-image: url("../resource/images/title_bg1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    color : white;
    padding: 200px;
    padding-top: 500px;
    padding-bottom: 500px;
    text-align: center;
    background-size: cover;
}

.article_top h1{
    font-size: 102px;
    font-family: "Playfair Display",serif;
    font-weight: bold;
}

.article_top h2{
    font-style: italic;
    font-weight:100;
    font-size: 40px;
}

.article_main{
    text-align: center;
}
.article_part{
    margin-bottom: 150px;
    padding: 10rem 6rem;
}

.article_part:not(:first-child){
    box-shadow: 4px 4px 6px 5px rgba(0, 0, 0, .55);
}
.article_main h3{
    font-size: 50px;
    margin-bottom: 25px;
    border-bottom: 1px solid rgba(199, 199, 199, 0.704);
    display: inline-block;
    max-width: 100%;
    padding-bottom: 15px;
}

.article_main p{
    margin-bottom: 10px;
    font-size: 20px;
}

.chess_introduction{
    line-height: 2;
    text-align: center;
}


.chess_opening{
    color:#ddd;
    background-image: url("./images/chess_opening1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.chess_middlegame{
    color:#ddd;
    background-image: url("./images/chess_middlegame1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.chess_endgame{
    color:#ddd;
    background-image: url("./images/chess_endgame1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.text{
    background-color: rgba(0,0,0,.45);
    padding: 15px;
    border-radius: 9px;
}

footer{
    background-color: black;
    color: white;
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
    text-align: center;
    padding: 30px;
}

@media screen and (max-width: 720px){
    header{
        padding: 10px 25px;
        background-color: rgba(255, 235, 205, .90);
    }
    h3.logo{
        font-size: 28px;
    }
    ul.menu{
        display: none;
    }
    .hamb-menu{
        display: none;
    }
    .icon{
        display: block;
        color: black;
        font-size: 28px;
    }
    .icon:active{
        text-shadow: 1px 1px 8px rgba(87, 158, 162, 1);
    }
    .show {
        display: block;
        position: absolute;
        top: 3.3rem;
        left: 0;
        font-size: 24px;
        width: 100%;
        background-color: black;
        animation: slidein .7s forwards;
    }
    .show li.menu-item{
        padding: 15px;
    }
    .show li.menu-item a {
        color: white;
    }
    .show li.menu-item a:hover {
        border-bottom: 1px solid #bbb;
    }
    .article_top{
        padding: 8rem;
    }
    .article_top h1{
        font-size: 45px;
        margin-bottom: 30px;
    }
    .article_top h2{
        font-size: 26px;
    }
    .article_part{
        padding: 5rem 2rem;
    }
    .article_part h3 {
        font-size: 28px;
    }
    .article_part p {
        font-size: 17px;
    }
}


@keyframes slidein{
    0%{
        top: -100px;
        opacity: 0;
    }
    100%{
        top: 3.3rem;
        opacity: 1;
    }
}

@keyframes fadein {
    0%{
        top: -100px;
    }
    100%{
        top: 0;
    }
}
