*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    height: 1000px;
}
header{
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    padding: 25px 50px;
    background-color: blanchedalmond;
    align-items: center;
    transition: .3s;
    font-size: 20px;
}

h3 a {
    text-decoration: none;
    color: black;
}

header .menu{
    display: flex;
    gap: 10px;
    list-style: none;
}

.menu-item a {
    color: black;
    text-decoration: none;
}

.menu li:first-child{
    border-right: 1px solid rgba(0, 0, 0, .2);
    padding-right: 10px;
}

.hamb-menu{
    display: none;
    list-style: none;
}

.sticky{
    position: sticky;
    padding: 10px 20px;
    background-color: black;
    color: white;
    font-size: 15.5px;
}

.sticky h3 a {
    color: white;
}

.sticky .menu a {
    color: white;
}

.fade-in {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    animation: fadein .75s forwards;
}

@media screen and (max-width: 720px){
    ul.menu{
        display: none;
    }
    .hamb-menu{
        display: block;
    }
}

@keyframes fadein {
    0%{
        top: -70px;
    }
    100%{
        top: 0;
    }
}